<div class="row container">
    <button class="btn btn-outline-secondary" (click)="newClient(newClientModal)"><i class="fa fa-plus-circle" aria-hidden="true"> Agregar Cliente</i></button>
</div>
<div class="row container">
    <mat-form-field>
        <mat-label>CI Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
</div>
<mat-table mat-table [dataSource]="clients" matSort (matSortChange)="sortData($event)" class="mat-elevation-z1">
    <mat-toolbar>My App</mat-toolbar>

    <ng-container matColumnDef="nombreCompleto">
        <mat-header-cell class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let client"> {{client.nombreCompleto}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cedula">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let client"> {{client.cedula | ciFormat}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tools">
        <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row; let i = index">
            <button class="btn btn-outline-success mr-1" (click)="clientInfo(row)"><i class="fas fa-info-circle"></i></button>
            <button class="btn btn-outline-primary mr-1" (click)="editClient(ediClientModal, row, i)"><i class="fas fa-user-edit"></i></button>
            <button class="btn btn-outline-danger" (click)="deleteClient(row, i)"><i class="fa fa-trash-alt"></i></button>
        </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="loadPage($event)" class="mat-elevation-z1"></mat-paginator>

<div *ngIf="1 === 0">
    <app-client [isForModal]="true" [client]="selectedClient"></app-client>
</div>
<ng-template #ediClientModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editando a: <small>{{selectedClient.nombreCompleto}}</small></h4>
    </div>
    <div class="container">
        <app-client [isForModal]="true" [client]="selectedClient" (guardado)="guardado($event)"></app-client>
    </div>
</ng-template>

<ng-template #newClientModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Cliente</h4>
    </div>
    <div class="modal-body">
        <app-client [isForModal]="true" (guardado)="guardado($event)"></app-client>
    </div>
</ng-template>

<app-notification *ngIf="showDeleteNotification" [configurations]="notificationConfigurations" (outPut)="deleteClientFromDataBase($event)"></app-notification>
<app-notification *ngIf="showEditionNotification" [configurations]="notificationConfigurations" (outPut)="editionNotificationOutPut($event)"></app-notification>