<h1>Popular movies</h1>
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let movie of popularMovies">
        <div class="card h-100">
            <img src="http://image.tmdb.org/t/p/w300{{ movie.backdrop_path }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ movie?.original_title }}</h5>
                <p class="card-text">{{ movie?.overview }}</p>
            </div>
            <div class="btn btn-primary" (click)="moreInfo( movie.id )">More info...</div>
        </div>
    </div>
</div>