<form [formGroup]="forma">

    <div class="form-group row col-sm-12">
        <label>
            <i class="far fa-question-circle" data-toggle="tooltip" title="El nombre es necesario"></i>
            Nombre Completo:
        </label>
        <input [attr.disabled]="isEditionEnabled ? null: ''" class="form-control" type="text" placeholder="Nombre de usuario" formControlName="nombreCompleto" [ngClass]=" { 'is-invalid': forma.get('nombreCompleto').invalid  && !forma.get('nombreCompleto').pristine } ">
        <div class="invalid-feedback" *ngIf="forma.controls['nombreCompleto'].errors?.required" class="invalid-feedback">
            El nombre es necesario.
        </div>
    </div>

    <div class="form-group row col-sm-12">
        <label>
            <i class="far fa-question-circle" data-toggle="tooltip" title="La cédula es necesaria &#013;Debe contener 8 caracteres"></i>
            Cédula:
        </label>
        <input [attr.disabled]="isEditionEnabled ? null: ''" [textMask]="{mask: ciMask}" class="form-control" type="text" placeholder="Cedula" formControlName="cedula" [ngClass]=" { 'is-invalid': forma.get('cedula').invalid && !forma.get('cedula').pristine } ">
        <div class="invalid-feedback" *ngIf="forma.controls['cedula'].errors?.required" class="invalid-feedback">
            La cédula es necesaria.
        </div>
        <div class="invalid-feedback" *ngIf="!forma.controls['cedula'].errors?.ciLengthValidation" class="invalid-feedback">
            La cédula debe contener 8 caracteres.
        </div>
        <div class="invalid-feedback" *ngIf="!forma.controls['cedula'].errors?.isCiValid && forma.controls['cedula'].errors?.ciLengthValidation" class="invalid-feedback">
            La cédula ingresada no es valida.
        </div>
    </div>

    <div class="form-group row col-sm-12">
        <label>
            <i class="far fa-question-circle" data-toggle="tooltip" title="El teléfono es necesario&#013;Sólo números son validos"></i>
            Teléfono: 
        </label>
        <input [attr.disabled]="isEditionEnabled ? null: ''" class="form-control" type="text" placeholder="Teléfono" formControlName="telefono" [ngClass]=" { 'is-invalid': forma.get('telefono').invalid && !forma.get('telefono').pristine } ">
        <div class="invalid-feedback" *ngIf="forma.controls['telefono'].errors?.required" class="invalid-feedback">
            El teléfono es necesario.
        </div>
        <div class="invalid-feedback" *ngIf="forma.controls['telefono'].errors?.pattern" class="invalid-feedback">
            Ingrese solo números.
        </div>
    </div>

    <div class="form-group row col-sm-12">
        <label>
            <i class="far fa-question-circle" data-toggle="tooltip" title="La dirección es necesaria"></i>
            Dirección:
        </label>
        <input [attr.disabled]="isEditionEnabled ? null: ''" class="form-control" type="text" placeholder="Dirección" formControlName="direccion" [ngClass]=" { 'is-invalid': forma.get('direccion').invalid && !forma.get('direccion').pristine }">
        <div class="invalid-feedback" *ngIf="forma.controls['direccion'].errors?.required" class="invalid-feedback">
            La dirección es necesaria.
        </div>
    </div>

    <div class="form-group row col-sm-12">
        <label>
            <i class="far fa-question-circle" data-toggle="tooltip" title="La fecha de nacimiento es necesaria"></i>
            Fecha Nacimiento:
        </label>
        <input [attr.disabled]="isEditionEnabled ? null: ''" [textMask]="{mask: dateMask}" class="form-control" type="text" placeholder="yyyy/mm/dd" formControlName="fechaNacimiento" [ngClass]=" { 'is-invalid': forma.get('fechaNacimiento').invalid && !forma.get('fechaNacimiento').pristine } ">
        <div class="invalid-feedback" *ngIf="forma.controls['fechaNacimiento'].errors?.required" class="invalid-feedback">
            La fecha de nacimiento es necesaria.
        </div>
        <div class="invalid-feedback" *ngIf="!forma.controls['fechaNacimiento'].errors?.dateLengthValidation" class="invalid-feedback">
            El largo de la fecha no es valido. (yyyy/mm/dd)
        </div>
        <div class="invalid-feedback" *ngIf="!forma.controls['fechaNacimiento'].errors?.isDateValid && forma.controls['fechaNacimiento'].errors?.dateLengthValidation" class="invalid-feedback">
            La fecha ingresada es invalida.
        </div>
    </div>

</form>

<div class=" form-group row">
    <div class="col-md-12">
        <button type="button " class="float-right btn btn-outline-success col-md-2" [disabled]="forma.invalid" (click)="saveChanges(forma)">
            <i class="fas fa-save"></i> Guardar
        </button>
        <button type="button " class="float-right btn btn-outline-primary mr-1 col-md-1" *ngIf="!isForModal" (click)="toggleEdition()"> 
            <i class="fas fa-edit"></i> Edit
        </button>
    </div>
</div>

<div *ngIf="!isForModal">
    <h1>
        Servicios
    </h1>
    <mat-form-field>
        <mat-label>Seleccione servicio a agregar</mat-label>
        <mat-select>
            <mat-option *ngFor="let service of services" (onSelectionChange)="servicioSeleccionado(service, $event)" [value]='service.nombre'>
                {{service.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-table *ngIf="clientServicesData.length > 0" mat-table [dataSource]="clientServicesData" matSort (matSortChange)="sortData($event)" class="mat-elevation-z1">

        <ng-container matColumnDef="serviceName">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row"> {{row.serviceName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cuotaMensual">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Cuota Mensual </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row"> {{row.cuota | currency}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaAsociado">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Asociado </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row"> {{row.fechaAsociado | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tools">
            <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row; let i = index">
                <button class="btn btn-outline-danger" (click)="deleteServiceForUser(row, i)"><i class="fa fa-trash-alt"></i></button>
            </mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="loadPage($event)" class="mat-elevation-z1"></mat-paginator> -->
</div>

<app-notification *ngIf="showSuccessNotification" [configurations]="notificationConfigurations" (outPut)="closeNotification($event)"></app-notification>
<app-notification *ngIf="showDeleteNotification" [configurations]="notificationConfigurations" (outPut)="deleteServiceConfirmation($event)"></app-notification>