<div class="container">
    <h4>employees</h4>
    <hr>

    <app-employee buttonIcon="add" test="asdasdasd" (propagar)="updateEmployees($event)"></app-employee>

    <table class="table mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>
                    <app-employee buttonIcon="edit" [employee]="employee" (propagar)="updateEmployees($event)"></app-employee>
                    <button class="ml-1 btn btn-danger" (click)="deleteEmployee(employee, i)">
                    <i class="fa fa-trash"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-toasts></app-toasts>