<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div class="well drop-zone">
            <h4>Deje caer aqui los archivos</h4>
            <img src="assets/images/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button class="btn btn-success" [disabled]="archivos.length === 0" (click)="cargarImagenes()">Cargar a FireBase</button>
        <button class="btn btn-danger ml-1">Limpiar</button>
        <table class="table">
            <thead class="thead=dark">
                <tr>
                    <th>Nombre archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>WYZ</th>
                    <th>12Mb</th>
                    <th>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%"></div>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>