<mat-table mat-table [dataSource]="services" matSort (matSortChange)="sortData($event)" class="mat-elevation-z1">

    <ng-container *ngIf="displayCheckBox" matColumnDef="select">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let service"> {{service.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cuotaMensual">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let service"> {{service.cuotaMensual | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tools">
        <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row; let i = index">
            <button class="btn btn-outline-success mr-1" (click)="serviceInfo(row)"><i class="fas fa-info-circle"></i></button>
            <button class="btn btn-outline-primary mr-1"><i class="fas fa-user-edit"></i></button>
            <button class="btn btn-outline-danger" (click)="deleteService(row, i)"><i class="fa fa-trash-alt"></i></button>
        </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="loadPage($event)" class="mat-elevation-z1"></mat-paginator>